// colors 
$color-white: #FFFFFF;
$color-beige: #d0c3b6;
$color-title: #111111;
$color-paragraph: #acacac;

// fonts
$montserrat: "Montserrat-Regular";
$montserrat-bold: "Montserrat-Bold";
$miller-display:"Miller-Display";
$merriweather: "Merriweather-Regular";

// font-size
$main-title: 10vmin;